.app.dark {
    --bg-color: #2e2e78;
    --inverted-bg-color: #e3e3e3;
    --primary-color: #31ea31;
    --secondary-color: #86ef86;
    --inverted-primary-color: #1e5dbe;
    --inverted-secondary-color: #7aeaea;
}