.app.light {
  --bg-color: #e3e3e3;
  --inverted-bg-color: #2e2e78;

  --primary-color: #1e5dbe;
  --secondary-color: #7aeaea;
  --inverted--primary-color: #31ea31;
  --inverted-secondary-color: #86ef86;
}